@use "../core/variables" as vars;

.header {
  background: vars.$color-main;
  font-family: vars.$main-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: vars.$padding-main;
  position: sticky;
  top: 0;

  &__logo {
    width: 150px;
  }

  &__list {
    display: flex;
    gap: 15px;
    color: white;
  }
}
