@use "../core/variables" as vars;

.info {
  padding: 50px;
  font-family: vars.$main-font;

  &__premium {
    font-size: 40px;
    text-align: center;
  }

  &__articles {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
}

.article {
  text-align: center;

  &__image {
    width: 60%;
    margin: 0 auto;

    &__img {
      width: 100%;
    }
  }

  &__feature {
    margin-bottom: 20px;
    font-size: 16px;
  }
}