@use './core/reset';
@use 'layout/header';
@use 'layout/hero';
@use 'layout/info';
@use 'layout/footer';

// Tablet
@media (max-width: 1024px) {
  .articles {
    flex-wrap: wrap;
  }

  .article {
    display: flex;
    max-width: 50%;
  }
  .container-feature {
    background-color: aqua;
  }
}
